h1{
  color: MidnightBlue;
}
ul li{
  float:left;
}
ul {
  overflow: hidden;
  list-style-type: none;
  background-color: gray;
}
ul li a {
  display: block;
  padding: 8px;
  color: #dddddd;
}
.active {
  background-color: black;
}
.center{
  position:absolute;
  left: 15%;
  top: 20%;
  font-size: 24px;

}
#main-h1{
  position:absolute;
  left:5%;

}
body{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#main-body{
  background-image: url("../img/City_Landscape_Background.jpg");
}
/*about*/
#about-body{
background-image: url("../img/about_img.jpg");
}
#me{
    border-radius: 50%;
    float: left;
}
p{
font-size: 24px;
}
div.relative {
    position: relative;
    margin:80px 150px 40px 80px;
  }
/*  div.relative ul li{
      background-image: ;
  }*/
/*portfolio*/
#portfolio-body{
  background-image: url("../img/portfolio.jpg");
}
.container{
position:absolute;
width:100%
margin-left:auto;
margin-right:auto;
}
.project{
  position:relative;
  float:left;
  margin:10px;
  padding:10px;
  background-color:white;
  border-radius:8px;
  height: 350px;
  width: 30%;
}
.pic{
  position:absolute;
  margin:10px;
  padding:10px;
  top:0px;
  align-self: center;
  background-color:gray;
  border-radius: 8px;
  height:200px;
  width:300px;
}
h2{
  position:absolute;
  top:225px;


}
p{
  position:relative;
  top:235px;
  font-size: 24px;

}

/*resume*/
#resume-body{
  background-image: url("../img/portfolio.jpg");
}
